@media only screen and (max-width:1280px) {}
@media only screen and (max-width:1199px) {
.container {width: 100%;}
#my-navbar-two-set .first_navbar li a{padding: 10px 15px;font-size: 15px;}
.second_navbar li a img{width: 25px;}
.container{width: 100%;}
.notifiaction_set .badge{padding: 2px 5px;}
.profil_header_img {width: 35px !important;}
.navbar_pro_dropdown_set{margin-top: 3px;}
.profil_details {margin-left: 7px; padding-top: 2px;}
.profil_details span {font-size: 12px;}
}
@media only screen and (max-width:1157px) {
/* Manage Content Page Css Start Here */
.resp-tab-item {padding: 6px 5px;}
/* Manage Content Page Css Stop Here */
/*Sign Up Page*/
.comm-btn{
margin-right:20px;	
}
/*Sign Up Pahe*/
}
@media only screen and (max-width:1151px) {
/* Index Page Css Start Here */
.performer_profile_info {margin: 0 auto;float: none;width: 66%;display: inline-block;padding: 10px 0px;}
/* Index Page Css Stop Here */
}
@media only screen and (max-width:1100px) {
.user_details_photo{width: 18%;}
#my-navbar-two-set .first_navbar li a{padding: 5px 10px;}
#my-navbar-two-set .first_navbar{margin-top: 4px;}
#my-navbar-two-set .second_navbar li a{margin-right: 15px;}
}
@media only screen and (max-width:1066px) {
.navbar_pro_dropdown_set{margin-top: -2px;}
#my-navbar-two-set .first_navbar{padding-left: 0px;}
.profil_details span {width:auto; line-height: 25px; margin-top: 3px;}
.profil_header_img {margin-top: 4px;}
#my-navbar-two-set .first_navbar li a {padding: 5px;}
}
@media only screen and (max-width:1048px) {
/* View Notification Page Css Start Here */
.stron_main_notifa p {
width: 95%;
}
/* View Notification Page Css Stop Here */	
}
@media only screen and (max-width:1024px) {}
@media only screen and (max-width:1016px) {
/* Index Page Css Start Here */
.performer_profile_info {
width: 70%;
}
/* Index Page Css Stop Here */
@media only screen and (max-width:991px) {
/*Head */
.nav_logo img {width: 200px;}
#my-navbar-two-set .navbar-collapse {border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
#my-navbar-two-set .navbar-collapse.collapse {display: none!important;}
#my-navbar-two-set .navbar-collapse.collapse.in {display: block!important;}
#my-navbar-two-set .navbar-toggle{display:block;margin-bottom: 0px;margin-top: 15px;background-color: #18aed1;padding: 9px 7px;}
#my-navbar-two-set .navbar-toggle .icon-bar{background-color:#fff;width: 31px;height: 3px;border-radius: 30px;margin-bottom: 5px;}
#my-navbar-two-set .navbar-toggle .icon-bar:last-child {margin-bottom: 0px;}
#my-navbar-two-set .navbar_set{width:100%;}
#my-navbar-two-set .navbar_set .first_navbar {float:left;width:100%;}
#my-navbar-two-set .navbar_set .first_navbar li{float:left;width:100%;}
#my-navbar-two-set .navbar_set .first_navbar li a{float:left;width:100%;border-radius:0px;text-align: right;padding: 10px 15px;border-bottom: 1px dashed #98dff0;}
#my-navbar-two-set .navbar_set .first_navbar li:last-child a{border-bottom:0px;}
#my-navbar-two-set .col-md-12{padding: 0px;}
#my-navbar-two-set .navbar_set{width:100%;}
#my-navbar-two-set .second_navbar{width: auto; position: absolute; top: 19px;right: 70px;}
#my-navbar-two-set .navbar_set{padding:0px;}
#my-navbar-two-set .navbar-header{width:100%;}
.header_section .navbar .navbar_set #myNavbar{display: none;}
.header_section_new .navbar_set{padding: 20px 0 15px;}
.header_section_new .navbar_set .first_navbar li a{padding: 7px 15px;font-size: 15px;}
.header_section_new .navbar-respo-set li a{padding: 7px 15px;font-size: 15px;}
/*head */	
/* Index Page Css Start Here */
.performer_wrapp {
width: 46%;
margin: 0% 2%;
margin-bottom: 30px;
}
/* Index Page Css Stop Here */	
/* My Calender Page Css Start Here */
.session_blog_list ul li {
width: 33%;
}
/* My Calender Page Css Stop Here */
/* Settings Page Css Start Here */
.settings_session_form {
padding: 0px 0px 40px;
}
/* Settings Page Css Stop Here */
/* Edit Course Page Css Start Here */
.show_topic {
right: 30px;
}
/* Edit Course Page Css Stop Here */
/* manage course View Page Css Start Here */
.user_manage_info {
margin-top: 10px;
}
.manage_course_graph_img{
float:left;
width:100%;	
}
.margin_bottom {
margin-bottom:15px;
}
.left_padding {
padding-left:15px;
}
.right_padding {
padding-right: 15px;
}
/* manage course View Page Css Stop Here */
/* Scedule New Session Page Css Start Here */
.schedul_btn_group {
margin-top: 20px;
margin-bottom: 30px;
}
/* Scedule New Session Page Css Stop Here */
/* Manage Content Page Css Start Here */
.manage_content_logo {
padding: 30px 0px;
}
.manage_content_logo_img {
padding: 10px;
}
/* Manage Content Page Css Stop Here */
/*Pop Up*/
.add_topic_width_popup{
width: 100%;
padding: 15px;
margin: 0 auto;
}
/*Pop Up*/
}
@media only screen and (max-width:837px) {
/* Index Page Css Start Here */
.performer_profile_info {
width: 75%;
}
/* Index Page Css Stop Here */	
/* Manage Content Page Css Start Here */
.content_upload_img {
padding-top: 14px;
}
.testimonials_img_upload_section {
height: 150px;
}
/* Manage Content Page Css Stop Here */
/* Sign Up Page*/
.logform .commsect {
padding: 10px 16px;
}
.logform .commsect .check_inner {
padding: 0px;
margin-bottom:0px;
}
.logform .commsect .check_inner label {
padding-left: 35px;
}
/* Sign Up Page*/
}
@media only screen and (max-width:783px) {
/* Index Page Css Start Here */
.performer_profile_info {
width: 80%;
}
/* Index Page Css Stop Here */	
/* Manage Content Page Css Start Here */
.content_upload_img {
padding-top: 10px;
}
.testimonials_img_upload_section {
height: 140px;
padding-top: 50px;
}
/* Manage Content Page Css Stop Here */
}
@media only screen and (max-width:767px) {
/*Head*/
#my-navbar-two-set .navbar-nav .open .dropdown-menu{position: absolute;background-color:#fff;border: 1px solid #ccc;}
#my-navbar-two-set .navbar-nav .open .dropdown-menu li{width:100%;}
#header_section_new .navbar-header .navbar-toggle{margin-bottom: 0px; margin-top: 15px; background-color: #18aed1; padding: 9px 7px;}
#header_section_new .navbar-header .navbar-toggle .icon-bar{background-color: #fff; width: 31px; height: 3px; border-radius: 30px; margin-bottom: 5px;}
#header_section_new .navbar-header .navbar-toggle .icon-bar:last-child {margin-bottom: 0px;}
#my-navbar-two-set .second_navbar li{display: inline-flex;}
#my-navbar-two-set .second_navbar{margin: 0px;}
#my-navbar-two-set .first_navbar{margin: 0px !important;position:relative;}
#my-navbar-two-set .navbar-toggle{margin-right: 15px;}
#my-navbar-two-set .navbar_set .first_navbar li a{margin:0px;}
.header_section_new .navbar_set .first_navbar li a{border-radius: 0px !important;margin-right:0px;border-bottom: 1px dashed #ccc;}
.header_section_new .navbar_set .first_navbar li:last-child a{border-bottom: 0px;}
.section_heading_home_new .main_section_head div{width: 60px !important;}
.navbar-toggle .icon-bar{background-color:#2c407b;width: 32px;height: 3px;margin-bottom: 5px;}
.navbar-toggle{margin-top: 17px;}
.header_section_new .navbar_set .first_navbar {padding: 0px;width: 100%;float: left;text-align: right;}
.header_section_new .navbar_set .first_navbar li a{padding: 15px 15px;}
.section_heading_home .main_section_head div{width: 60px;margin-top: 2px !important;}
.section_heading_home .main_section_head{margin-top: 0px;}
.section_heading_home{margin-bottom: 10px;}
.profil_details {display:none;}
.navbar_pro_dropdown_set .header_profile_drop_down img {border: 2px solid #19b2d4;}
/*head*/	
/* Index Page Css Start Here */
.testimonail_all_member {
margin-top: 25px;
}
.testominail_blogs {
margin-bottom: 40px;
}
/* Index Page Css Stop Here */	
/* Settings Page Css Start Here */
.schedul_btn_group {
margin-bottom: 30px;
}
/* Settings Page Css Stop Here */
/* Manage Content Page Css Start Here */
.enter_clip_name {
width: 60%;
}
/* Manage Content Page Css Stop Here */
/*Pop Css Start Here*/
.delet_cours_popup_width {margin: 0 auto;margin-top: 50px;}
.web_section_common {padding: 20px 0 30px;}
.testimonial_delete_width_popup {width: 100%;padding: 15px;margin: 0;}
.add_topic_width_popup {width: 100%;padding: 15px;margin: 0;}
.model_forgot_pass_popup{width: 100%;padding: 15px;margin: 0;}
.model_forgot_pass_popup {display: block;float: left;width: 100%;}
.modal-content {float: left;width: 100%;}
/*Pop Css Stop Here*/
/*Signup Page Css*/
.website_right_details {
width: 46%;
}
.lftlog {
width: 50%;
}
/*Signup Page Css*/
}
@media only screen and (max-width:736px) {
/* Index Page Css Start Here */
.performer_profile_info {
width: 90%;
}
/* Index Page Css Stop Here */	
}
@media only screen and (max-width:657px) {
/* Index Page Css Start Here */
.performer_profile_info {
width: 95%;
}
/* Index Page Css Stop Here */	
/* My Calender Page Css Start Here */
.session_blog_list ul li {
width: 50%;
}
.session_blog_list ul li span{
width: 100px;
}
/* My Calender Page Css Stop Here */
/* Add Course Page Css Start Here */	
.total_cost_text_area {
width: 30%;
}
/* Add Course Page Css Stop Here */
/* Manage Content Page Css Start Here */
.manage_content_logo_img_responsive{
float: left;
width: 100%;
text-align: center;
}
.manage_content_logo_img {
float: none;
margin: 0 auto;
display: inline-block;
width: auto;
}
.manage_content_logo_text_responsive{
float:left;
width:100%;	
}
.manage_content_other_pictures_btn {
padding: 20px 0px;
}
.manage_content_logo {
padding: 30px 0px 0px 0px;
}
.testimonials_profile_pic {
float: none;
margin: 0 auto;
margin-bottom: 15px;
}
.manage_content_logo_name,.manage_content_group_business{
text-align: left;
}
.testimonials_img_upload_section {
height: 200px;
}
.content_upload_img {
padding: 25px;
}
.enter_clip_name {
width: 100%;
}
/* Manage Content Page Css Stop Here */
}	
@media only screen and (max-width:640px) {
.search_box_set{min-width: 220px;}
/*Signup Page Css*/
.commsect h1 {
font-size: 20px;
margin: 0px 0px 25px 0px;
}
.commsect .form-group {
margin: 0px 0px 20px 0px;
}
.commsect .form-group .form-control#usrname,.commsect .form-group .form-control#password{
background-position: 7px 11px;
background-size: 9%;
}
.commsect .form-group .form-control {
padding: 0px 10px 4px 42px;
}
.comm-btn {
padding: 5px 15px;
font-size: 16px;
}
.inner-sect .bgshow {
height: 370px;
margin-top: 90px;
}
.lftlog {
margin-top: -29px;
}
/*Signup Page Css*/
}
@media only screen and (max-width:624px) {
/* Index Page Css Start Here */
.performer_profile_info {
width: 100%;
}
/* Index Page Css Stop Here */
/* My Calender Page Css Start Here */
.calend_btn_group {
width: 100%;
}
.calender_form_set {
float: left;
width: 100%;
margin-top:20px;
}
/* My Calender Page Css Stop Here */
}	
@media only screen and (max-width:600px) {
.second_navbar li a img{width: 22px;}
#my-navbar-two-set .second_navbar li a{margin-right: 11px;}
.header_profile_drop_down i{margin-right: 0px;margin-left: 2px;}
.navbar_pro_dropdown_set{margin-top: 0px;}
/*Signup Css Page*/
.web_logo_log_sign a img {
width: 260px;
}
.commsect h1 {
font-size: 22px;
}
.commsect .form-group .form-control#usrname, .commsect .form-group .form-control#password {
background-position: 7px 10px;
background-size: 28px;
}
.check_inner [type="checkbox"].filled-in:not(:checked) + label::after {
height: 22px;
width: 22px;
}
.check_inner [type="checkbox"].filled-in:checked + label::after {
width: 22px;
height: 22px;
}
.check_inner [type="checkbox"].filled-in:checked + label::before {
top: 1px;
left: 2px;
width: 8px;
height: 13px;
}
.web_details {
display: none;
}
.logform .commsect .check_inner label {
padding-left: 32px;
line-height: 23px;
}
/*Signup Css Page*/
.pop_btn_sect{margin-top: 15px;}
.forgot_ps_input{background-size: 30px;}
.commsect h1{margin: 0px 0px 15px 0px;}
.web_logo_log_sign{position: absolute;right: 0;top: 10px;}
.loginpage{margin-bottom: 0px;}
.lftlog{width: 100%;margin-top: 90px;}
.web_logo_log_sign a img{margin: 0 auto;}
.website_right_details{width: 100%;padding-bottom: 20px;}
.inner-sect .bgshow{margin-top:0px;height:auto;}
}
@media only screen and (max-width:595px) {
/* Index Page Css Start Here */
.performer_wrapp {
width: 100%;
margin: 0px;
margin-bottom: 30px;
}
.performer_profile_info {
width: 55%;
}
/* Index Page Css Stop Here */	
}
@media only screen and (max-width:540px) {
.search_box_set{min-width: 180px !important;}
.navbar_pro_dropdown_set .dropdown-menu::after{right: 20px;}
#my-navbar-two-set .navbar-nav .open .dropdown-menu{min-width: 120px;}
.navbar_pro_dropdown_set .dropdown-menu li a{font-size: 13px !important;padding: 5px 10px !important;}
.logout_list{padding: 8px 5px 0px !important;}
.navbar-toggle .icon-bar{width: 25px !important;height: 2px !important;}
.navbar-toggle{margin-right: 10px !important;padding: 8px 6px;}
#header_section_new .navbar-header .navbar-toggle{padding: 8px 7px;margin-top: 12px;}
#my-navbar-two-set .second_navbar{top: 9px !important;right: 63px;}
.header_profile_drop_down i{font-size: 11px;margin-left: 3px;}
.navbar_pro_dropdown_set .header_profile_drop_down img{border: 2px solid #19b2d4;}
.navbar_pro_dropdown_set .profil_details{display:none;}
#my-navbar-two-set .second_navbar{top: 11px;}
#my-navbar-two-set .navbar-toggle{margin-top: 8px;}
#my-navbar-two-set .navbar-toggle .icon-bar{width: 25px;height: 2px;}
#my-navbar-two-set .navbar-toggle{padding: 8px 6px;margin-top: 10px;}
.header_section_new .navbar_set .navbar-respo-set{top: 17px !important;right: 55px;}
.navbar-toggle{margin-top: 10px;margin-bottom: 0px;margin-right: 5px;}
.header_section_new .navbar-respo-set li a{padding: 3px 7px;font-size: 14px;}
.nav_logo img{width: 180px;}
.nav_logo{padding: 10px 10px;}
#my-navbar-two-set .navbar-header{position:relative;}
}
@media only screen and (max-width:534px) {
/* Manage Session Page Css Start Here */
.addes_new_search_box {
float: left;
width: 100%;
margin-top: 30px;
}
/* Manage Session Page Css Stop Here */
/* Manage Course View Page Css Start Here */
.responsive_search_box{
float: right;
width: auto;
margin-top: 0;	
}
.short_clip_btn {
margin-bottom: 20px;
}
/* Manage Course View Page Css Stop Here */
}
@media only screen and (max-width:514px) {
/* Index Page Css Start Here */
.pie_chart_dropdown {
margin-left: 15%;
}
.performer_profile_info {
width: 60%;
}
.pie_chart_head_radio_sec {
text-align: center;
}
/* Index Page Css Stop Here */	
/* Add Course Page Css Start Here */	
.add_new_course_responsive{
float:left;
width:100%;	
}
/* Add Course Page Css Stop Here */
}	
@media only screen and (max-width:477px) {
/* Manage User Page Css Start Here */
.addes_new_search_box {
float: left;
width: 100%;
margin-top: 30px;
}
/* Manage User Page Css Stop Here */
/* Manage Course View Page Css Start Here */
.responsive_search_box{
float: right;
width: auto;
margin-top: 0;	
}
/* Manage Course View Page Css Stop Here */
}
@media only screen and (max-width:463px) {
/* Index Page Css Start Here */
.performer_profile_info {
width: 66%;
}
/* Index Page Css Stop Here */	
}	
@media only screen and (max-width:459px) {
/* Index Page Css Start Here */
.pie_chart_dropdown {
margin-left: 10%;
}
/* Index Page Css Stop Here */	
}
@media only screen and (max-width:440px) {
.search_box_set{padding: 4px;}
.search_box_set::after{right: 0;left: 0;text-align: center;margin: 0 auto;}
.search_btn_btn{padding: 6px 10px;}
#my-navbar-two-set .navbar-nav .open .dropdown-menu{left: -75px;}
.header_section_new .navbar_set .first_navbar li a{padding: 10px 14px;}
.header_section_new .navbar_set .navbar-respo-set{top: 18px !important;right: 57px;}
.header_section_new .navbar-respo-set li:last-child a{margin-right:0px;}
.header_section_new .navbar-respo-set li a{margin-right:8px;font-size: 13px;padding:0px;}
.header_section_new .navbar-respo-set li a:hover,.header_section_new .navbar-respo-set li a:focus{background:none !important;color:#333 !important;}
.navbar-toggle{padding: 5px;margin-top: 14px;margin-right: 7px;}
.navbar-toggle .icon-bar{width: 30px;}
.nav_logo{padding: 11px 5px;}
.nav_logo img{width: 155px;}
}	
@media only screen and (max-width:439px) {
/* Index Page Css Start Here */
.pie_chart_head_radio_sec {
text-align: center;
}
.radio_container {
margin-right:0px;
}
.footer_social_link_list {
margin: 0px 10px;
}
/* Index Page Css Stop Here */	
}
@media only screen and (max-width:433px) {
/* Manage Session Page Css Start Here */
.addes_new_search_box {
margin-top: 20px;
}
.addes_new_search_box .form-control {
width: 100%;
margin-right: 0px;
}
.section_heading_sec .manage_session_responsive_btn{
float: left;
margin-top: 20px;
}
.section_heading_sec .manage_user_responsive_btn{
float: left;
margin-top: 20px;
}
/* Manage Session Page Css Stop Here */
/* Manage Course View Page Css Start Here */
.responsive_search_box{
float: right;
width: auto;
margin-top: 0;	
}
/* Manage Course View Page Css Stop Here */	
/*Pop */
.add_topic_btn_new {
text-align: left;
padding-top: 15px;
}
.send_request_pop_btn .btn:nth-child(1),.send_request_pop_btn .btn:nth-child(2) {
margin-right: 5px;
font-size: 14px;
padding: 6px 2%;
}
.save_cancel_btn {
padding: 6px 2%;
font-size:14px;
}
/*Pop*/
}	
@media only screen and (max-width:423px) {
/* Index Page Css Start Here */
.performer_profile_info {
width: 72%;
}
/* Index Page Css Stop Here */	
/* My Calender Page Css Start Here */
.session_blog_list ul li {
width: 100%;
}
/* My Calender Page Css Stop Here */
/* My Account Page Css Start Here */
.my_account_tabbing .nav-tabs li{
float:left;
width:100%;	
}
.my_account_tabbing .nav-tabs li a {
float: left;
width: 100%;
margin-bottom: 15px;
/* My Account Page Css Stop Here */
}	
@media only screen and (max-width:402px) {
/* Index Page Css Start Here */
.footer_social_link_list {
margin: 0px;
}
/* Index Page Css Stop Here */
/* Scedule New Session Page Css Start Here */
.calender .month .prev {
left: 20%;
}
.calender .month .next {
right: 20%;
}
/* Scedule New Session  Page Css Stop Here */
/*Pop*/
.add_topic_btn_new {
text-align: center;
}
.send_request_pop_btn .btn:nth-child(1), .send_request_pop_btn .btn:nth-child(2),.save_cancel_btn {
float: none;
margin: 0 auto;
padding: 6px;
margin-bottom: 15px;
text-align: center;
}
/*pop*/
}	
@media only screen and (max-width:400px) {
.header_profile_drop_down i{margin-top: 11px;}
.navbar_pro_dropdown_set a{text-align: center; margin: 0 auto; margin-right: auto; display: inline-block !important;}
.navbar_pro_dropdown_set{display: inline-block !important;}
.navbar_pro_dropdown_set::after{display:none;}
.profil_header_img{margin-top:0px;}
.search_box_set::after{right: auto;left: 15px;}
#my-navbar-two-set .navbar-nav .open .dropdown-menu{left: -18px;right: auto;}
.navbar_pro_dropdown_set .dropdown-menu li a{margin-left:0px !important;}
#my-navbar-two-set .second_navbar{top: 9px !important;right: 63px;}
#my-navbar-two-set .navbar-header{height:100px;}
#my-navbar-two-set .second_navbar{top: 54px !important; right: 0; left: 0; text-align: center; margin: 0 auto;border-top: 1px solid #b4e6f2;padding-top: 5px;}
#my-navbar-two-set .navbar-toggle{margin-top: 8px;z-index:9;}
#my-navbar-two-set .navbar-toggle .icon-bar{width: 25px;height: 2px;}
#my-navbar-two-set .navbar-toggle{padding: 8px 6px;margin-top: 10px;position: absolute; right: 0; top: 0px;}
#my-navbar-two-set .nav_logo{float: left;width: 100%;}
#my-navbar-two-set .nav_logo img{margin:0 auto;}
#my-navbar-two-set .second_navbar li a{margin-right: 9px;margin-left: 9px;text-align: center;margin: 0 auto;}
#my-navbar-two-set .second_navbar li{width: 24.3%;text-align: center;float: left;position:relative;}
#my-navbar-two-set .second_navbar li::after{content: ""; float: left; width: 1px; height: 100%; background-color: #e3e3e3; position: absolute;top: 0; right: 0;}
.second_navbar li:first-child a img{width: 20px;}
.navbar_pro_dropdown_set  .dropdown-menu{min-width: 92px !important;}
.navbar_pro_dropdown_set .dropdown-menu li a{padding: 3px 0px !important}
.logout_list{padding: 5px 5px 0px !important;}
.navbar_pro_dropdown_set .dropdown-menu::after{right: 0;left: 0; text-align: center; margin: 0 auto;}
.navbar_pro_dropdown_set .dropdown-menu li .logout_btn{padding: 2px 10px !important;}
}	
@media only screen and (max-width:399px) {
/* Index Page Css Start Here */
.pie_chart_dropdown {
margin-left: 5%;
}
.performer_profile_info {
width: 85%;
}
.pie_chart_head_radio_sec {
text-align: left;
}
/* Index Page Css Stop Here */	
/*Pop Css Start Here*/
.delet_cours_popup_width {
width: auto;
padding: 10px;
}
/*Pop Css Stop Here*/
}
@media only screen and (max-width:380px) {
/* View Notification Page Css Start Here */
.notification_video {
max-width: 350px;
width:100%;
}
.notification_video #video {
float: left;
width: 100%;
}
/* View Notification Page Css Stop Here */	
}
@media only screen and (max-width:370px) {
/* Manage User Page Css Start Here */
.addes_new_search_box {
margin-top: 20px;
}
.addes_new_search_box .form-control {
width: 100%;
margin-right:0px;
}
/* Manage User Page Css Stop Here */	
/* Manage Course View Page Css Start Here */
.responsive_search_box{
float: right;
width: auto;
margin-top: 0;	
}
.manage_course_responsive_view{
float:left;
width:100%;	
}
/* Manage Course View Page Css Stop Here */
}
@media only screen and (max-width:345px) {
/* Index Page Css Start Here */
.pie_chart_head_sec h4 {
width: auto;
text-align: left;
}
.pie_chart_dropdown {
float: right;
}
/* Index Page Css Stop Here */	
/* Edit Course Page Css Start Here */
.show_topic {
right: 26px;
}
/* Edit Course Page Css Stop Here */
}
@media only screen and (max-width:335px) {
/* Index Page Css Start Here */
.performer_profile_info {
width: 90%;
}
/* Index Page Css Stop Here */	
}