*{margin:0;padding:0;}
html{float:left;width:100%;}
body{float:left;width:100%;font-family: 'open_sansregular';padding: 0px !important;}
a{text-decoration:none;outline:none;}
p{font-size: 13px;color: #575454;}
select, button{outline:none!important;}
select, button:focus{outline:none!important;}
textarea,input{outline:none!important;}
ul{margin:0px; padding:0px; list-style: none !important;}
select option{background-color: transparent !important;}
select::-ms-expand{display:none;}
select::-ms-value {background: none !important;}
select:focus::-ms-value {background-color: transparent !important; color:#999 !important;}
select {-webkit-appearance: none;-moz-appearance: none;appearance: none;}
/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input::-ms-clear {display: none;}
input::-ms-reveal {display: none;}
/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
.nopadd{padding: 0px;}
.nomarg{margin: 0px !important;}
.comm-btn { float: none; padding: 8px 22px; background-color: #19b5d6; border: 1px solid #19b5d6; font-family: 'open_sansregular'; font-size: 18px; color: #fff; font-weight: normal; margin: 0px;text-transform: uppercase; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s;}
.comm-btn:hover, .comm-btn:focus { background-color: #0e97b7; border: 1px solid #0e97b7; color: #fff; outline: none; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; }
.wrapper{float:left;width:100%;overflow:hidden;}
.btn{outline:none;}
.btn:focus{outline:none;}
.modal-open{padding-right:0px !important;overflow:auto;}
/*header section start here*/
.header_section {float: left; width: 100%; background-color: #fff; box-shadow: 7px -10px 13px 6px #333; position: relative; }
.head_navbar {float: left; width: 100%; }
.head_navbar .navbar{float: left; width: 100%; margin-bottom:0px; }
.navbar_set {float: right; width: auto; padding: 25px 0 20px; }
.header_profile_drop_down {float: left; width: 100%; }
.profil_header_img {width: 45px; float: left; }
.profil_details {float: left; width: auto; margin-left: 10px; padding-top: 5px; word-break: break-all; }
.nav_logo{display:table; }
.notifiaction_set {float: left; width: 100%; position: relative; }
.notifiaction_set .badge{background-color: #f6021c; position: absolute; top: -2px; right: -3px; padding: 3px 6px; }
.header_profile_drop_down i{margin-top: 16px;margin-right: 10px;margin-left: 5px;}
.navbar_pro_dropdown_set a{display: table !important; padding: 0px !important; margin-top: -3px; margin-right: 0px !important; }
.navbar_pro_dropdown_set a:focus,.navbar_pro_dropdown_set a:hover{background:none !important; color:#333 !important; }
.navbar_pro_dropdown_set .dropdown-menu {min-width: 140px; right: 0px; left: auto; top: 43px;border-radius: 0px;}
.navbar_pro_dropdown_set .dropdown-menu::after{content: ""; float: left; width: 8px; height: 8px; border-right: 0px !important; border-bottom: 0px !important; transform: rotate(45deg); position: absolute; top: -5px; background-color: #fff; border: 1px solid #ccc; right: 9px;}
.navbar_pro_dropdown_set .dropdown-menu li a{float: left; width: 100%; padding: 5px 15px !important; border-bottom: 1px solid #ddd; font-size: 13px !important; }
.navbar_pro_dropdown_set .dropdown-menu li a:hover{background-color: #f5f3f3 !important;color: #1bb5d9 !important;}
.logout_list {float: left; width: 100%; padding: 10px 10px !important; }
.navbar_pro_dropdown_set .dropdown-menu li .logout_btn {background-color: #1bb5d9; color: #fff !important; border-radius: 3px; padding: 4px 10px !important; }
.navbar_pro_dropdown_set .dropdown-menu li .logout_btn:hover{background-color: #0e97b7 !important; color: #fff !important; }
.profil_details small{float: none; width: auto; font-size: 12px; line-height: 12px;display: block;}
.profil_details span{float: left; width: auto; font-size: 13px; }
.navbar_set .first_navbar li a{color: #333; font-size: 16px; padding: 10px 23px; border-radius: 4px; margin-right: 5px; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; }
.navbar_set .second_navbar li a{color: #333; padding: 6px 0px; margin-right: 20px; font-size: 14px !important; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; }
.navbar_set .nav{padding-right:0px; }
.first_navbar li:last-child a{margin-right:7px; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; }
.second_navbar li a:hover,.second_navbar  li a:focus{background:none !important; }
.navbar_set .first_navbar li a:hover,.navbar_set .nav li a:focus{background-color:#18b5d6; color:#fff; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; }
.navbar_set .first_navbar .active a{background-color:#18b5d6; color:#fff; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; } 
.second_navbar li a .icon_set{ display:block; }
.second_navbar li a .active_icon_set{ display:none; }
.second_navbar .active a .icon_set{ display:none ; }
.second_navbar .active a .active_icon_set{ display:block ; }
/*header section end here*/
/*saerch box set css start here*/
.search_box_set {
padding: 7px;
min-width: 260px;
left: auto;
right: -10px;
}
.search_box_set::after {
content: "";
float: left;
width: 8px;
height: 8px;
border-right: 0px !important;
border-bottom: 0px !important;
transform: rotate(45deg);
position: absolute;
top: -5px;
background-color: #fff;
border: 1px solid #ccc;
right: 18px;
}
.search_box_set .input-group input{
height: 35px;
}
.search_btn_btn {
background-color: #18b5d6;
color: #fff;
font-size: 15px;
-webkit-transition: .5s;
-moz-transition: .5s;
-o-transition: .5s;
transition: .5s;
}
.search_btn_btn:hover ,.search_btn_btn:focus{
background-color: #0e97b7;
border: 1px solid #0e97b7;
color: #fff;
outline: none;
-webkit-transition: .5s;
-moz-transition: .5s;
-o-transition: .5s;
transition: .5s;
}
/*bannner section start here*/
.banner_section {float: left; width: 100%; padding: 15px 0; background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed; }
.banner_content {float: left; width: 100%; }
.banner_content h4{font-family: 'open_sanssemibold'; color: #fff; }
/*bannner section end here*/
/*piechart section start here*/
.piechart_section {float: left; width: 100%; padding: 30px 0; }
.piechart_details {float: left; width: 100%; }
.pie_chart_blogs {float: left; width: 100%; text-align: center; padding: 15px; background-color: #f2f7fd; border-radius: 3px; }
.pie_chart_head {float: left; width: 100%; margin-bottom: 40px; }
.pie_chart_head h4{font-size: 16px; font-family: 'open_sanssemibold'; }
.pie_chart_head_sec {float: left; width: 100%; }
.pie_chart_head_sec h4{font-size: 16px; font-family: 'open_sanssemibold'; }
.pioe_chart_set_here {float: left; width: 100%; }
.pioe_chart_set_here img{margin:0 auto; }
.pioe_chart_set_here_sec {float: left; width: 100%; padding-bottom: 29px; }
.pioe_chart_set_here_sec img{margin:0 auto; }
/*piechart section end here*/
/*testimonial section start here*/
.testimonial_section {float: left; width: 100%; padding: 10px 0 30px; }
.testmonial_details {float: left; width: 100%; }
.section_heading {float: left; width: 100%; margin-bottom: 10px; padding-bottom: 13px; border-bottom: 1px dashed #a6a6a6; }
.section_heading h4{float: left;width: auto;margin: 0px; font-size: 16px; font-family: 'open_sanssemibold'; }
.testimonail_all_member {float: left; width: 100%; margin-top: 35px; }
.view_all {float: right; width: auto; padding: 10px 0 0; }
.view_all a{color:#18b5d6; font-size: 18px; }
.view_all a:hover{color:#0e97b7; text-decoration:none; }
.testominail_blogs {float: left; width: 100%; padding: 15px; background-color: #18b5d6; color:#fff; border-radius: 10px; position: relative;}
.testi_m_profile {float: left; width: 100%; padding: 0px 15px; }
.testi_m_profile span img{width: 85px; float: left; padding: 2px; border: 1px solid #fff; }
.testi_m_profile span{float: left; width: auto; margin-right: 10px; margin-top: -38px; }
.testi_m_profile_name {float: left; width: auto; }
.testi_m_profile_name h4{font-family: 'open_sanssemibold'; margin-top: 0px; margin-bottom: 2px; }
.star_rat {float: left; width: 100%; }
.star_rat ul li{float: left; list-style: none; }
.star_rat ul li a{color: #fff; margin-right: 5px; font-size: 14px; }
.test_profil_info {float: left; width: 100%; margin-top: 10px; line-height: 15px; font-size: 13px; }
/*testimonial section end here*/
/*footer section start here*/
.footer_section {float: left; width: 100%; text-align: center; padding: 10px 0; background-color: #f2f7fd; }
.footer_section p{margin:0px; }
/*footer section end here*/
/*manage course section start here*/
.web_section_common { float: left; width: 100%; padding: 40px 0 0px;}
.section_details {
float: left; 
width: 100%; 
/* overflow: auto; */
/* padding-top: 41px; */
/* height: 585px; */
}
.new-comm-btn { background-color: #18b5d6; color: #fff; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; }
.new-comm-btn:hover{ background-color: #0e97b7; border: 1px solid #0e97b7; color: #fff; outline: none; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; }
.new-comm-btn:focus{ background-color: #0e97b7; border: 1px solid #0e97b7; color: #fff; outline: none; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; }
.section_heading_sec { float: left; width: 100%; margin-bottom: 10px; padding-bottom: 10px;}
.section_heading_sec h4 { float: left; width: auto; font-size: 16px; font-family: 'open_sanssemibold'; color: #18b5d6; margin-bottom: 0px; margin-top: 10px; }
.section_heading_sec .new-comm-btn{ float: right; }
.modal-dialog{ display: grid; }
.add_topic_btn { float: right; width: 100%; text-align: right; }
.add_topic_btn .btn:first-child{ margin-right: 10px; }
.cours_table { float: left; width: 100%;}
.cours_table_set { float: left; width: 100%; }
.cours_table_set thead tr th{ border-bottom: 1px solid #ddd; border-top: 1px solid #ddd !important; padding: 9px 8px; font-family: 'open_sanssemibold'; font-weight: normal; font-size: 15px; }
.cours_table_set tbody tr td{ border-bottom: 1px solid #ddd; border-top: 1px solid #ddd !important; padding: 10px 8px; font-family: 'open_sanslight'; font-weight: normal; }
.cours_table_set tbody tr:nth-child(even){ background-color:#eff2f9; }
.delet_edit_table_link { float: left; width: 100%; }
.delet_edit_table_link a{ color:#273979; }
.delet_edit_table_link a:hover{ color:#18b5d6; }
.delet_edit_table_link a:first-child{ margin-right: 15px; }
.topic_table_set { float: left; text-overflow: ellipsis; overflow: hidden; width: 240px; height: 1.2em; white-space: nowrap; }
.topic_table_width { width: 200px; padding-right: 20px !important;position:relative;}
.show_topic { font-size: 13px; float: right; color:#18b5d6; position: absolute; right: 10px;}
.show_topic:hover{ color: #273979; }
.tables_pagination { float: left; width: 100%; text-align: right; }
.tables_pagination .pagination{ margin: 0px; }
.tables_pagination .pagination li a{ margin-right: 6px; font-size: 14px; border-radius: 4px; padding: 4px 10px; color: #333; background:none; border:0px; }
.tables_pagination .pagination li:last-child a{ margin-right: 0px; }
.pagination_arrow { background-color: #18b5d6 !important; color: #fff !important; font-size: 13px !important; padding: 5px 9px !important; }
.tables_pagination .pagination .active a{ background-color:#18b5d6; border-color:#18b5d6; color:#fff; }
.delet_cours_popup_width{ width: 380px; }
.pop_btn_sect_sec .popup_coom_btn_new:first-child{ margin-right: 10px; }
.pop_btn_sect_sec { float: left; width: 100%; margin-top: 20px; }
.popup_coom_btn_new { color: #fff; background-color: #1ab4d6; padding: 6px 22px; font-size: 15px; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; }
.popup_coom_btn_new:hover, .popup_coom_btn_new:focus { background-color: #0e97b7; border: 1px solid #0e97b7; color: #fff; outline: none; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; }
.topic_nam_table_width { width: 330px; padding-right: 20px !important; }
.priview_lession_video { font-family: 'open_sanssemibold'; text-decoration: underline; color: #18b5d6; }
.delet_edit_table_link_new { float: left; width: 100%; }
.delet_edit_table_link_new a{ color:#273979; margin-left: 15px; }
.delet_edit_table_link_new a:hover{ color:#18b5d6; }

/*manage course section end here*/

/*add course section start here*/

.add_course_main_forms {
    float: left;
    width: 100%;
}
.form_set {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.form_set label{
	font-family: 'open_sanssemibold';
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 10px;
}
.form_set .form-control{
	height: 35px;
	border-radius: 3px;
	background-color: #fff;
}
.form_set select{
	padding: 6px 5px;
	background-image: url(../img/arrow_down.png);
	background-size: 17px;
	background-repeat: no-repeat;
	background-position: 97% 8px;
}
.hours_input_set {
    float: left;
    width: 100%;
    position: relative;
}
.hours_input_set .btn{
	position: absolute;
	top: 0;
	right: 0;
	color: #18b5d6;
	box-shadow: none;
	font-size: 13px;
	padding: 7px 12px;
}
.hours_input_set .btn:hover{
	color:#253a77;
}
.topic_add_section {
    float: left;
    width: 100%;
    padding: 10px 0 30px;
}
.section_details_topic_add {
    float: left;
    width: 100%;
    /* padding-bottom: 10px; */
}
.add_topic_width_popup{
	width: 880px;
}
.moel_details_new_sec{
    float: left;
    width: 100%;
    margin-top: 17px;
}
/*add course section end here*/

/*my account section start here*/

.my_account_tabbing {
    float: left;
    width: 100%;
}
.my_account_tabbing .nav-tabs{
	border:0px;
}
.my_account_tabbing .tab-content {
    float: left;
    width: 100%;
    margin-top: 12px;
}
.tabs_set_my_account {
    float: left;
    width: 100%;
}
.pending_status {
    color: #e42421;
    font-family: 'open_sansregular';
}
.received_status {
    color: #45a136;
	font-family: 'open_sansregular';
}
.topic_table_width_new {
    width: 380px;
    padding-right: 20px !important;
	position:relative;
}
.my_account_tabbing .nav-tabs li a{
	background-color: #18b5d6;
	color: #fff;
	border-radius: 4px;
	margin-right: 10px;
	padding: 8px 18px;
	width: 180px;
	text-align: center;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.my_account_tabbing .nav-tabs li a:hover{
	background-color:#182037;
	border-color:#182037;
	color:#fff;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.my_account_tabbing .nav-tabs li a:focus{
	background-color:#182037;
	border-color:#182037;
	color:#fff;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.my_account_tabbing .nav-tabs .active a{
	background-color: #182037;
	border-color:#182037;
	color: #fff;
	border-radius: 4px;
	margin-right: 10px;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.show_topic_new {
    font-size: 13px;
    float: right;
    color: #18b5d6;
    position: absolute;
    right: 20px;
	top: 10px;
}
.topic_table_set_new {
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 345px;
    height: 1.2em;
    white-space: nowrap;
}
.ratting_show {
    margin-left: 15px;
}
.ratting_show a{
	font-size: 13px;
	color: #18b5d6;
}
.ratting_show a:hover{
	color: #182037;
}
.avareg_star_rating {
    float: left;
    width: 100%;
}
.avareg_star_rating span{
	font-family: 'open_sanssemibold';
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;
}
.star_ratting {
    float: left;
}
.star_ratting  ul li {
	float: left;
	margin-right: 7px;
}
.star_ratting  ul li a{
	color: #ffa70d;
	font-size: 15px;
}

.star_ratting_table_views {
    float: left;
}
.star_ratting_table_views  ul  li {
	float: left;
	margin-right: 7px;
}
.star_ratting_table_views  ul li a{
	color: #ffa70d;
	font-size: 14px;
}
.back_page {
    float: right;
}
.view_star_rating_popup_width {
    width: 420px;
    display: flex;
}

/*my account section end here*/

/*Notification page css start here*/

.notifiaction_section {
    float: left;
    width: 100%;
    padding: 30px 0 50px;
}
.notifiaction_info {
    float: left;
    width: 100%;
}
.notification_blog {
    float: left;
    width: 100%;
}
.notifiaction_info_list_active {
    float: left;
    width: 100%;
	margin-bottom: 20px;
}
.noti_list_pass_active {
    float: left;
    width: 100%;
    background-color: #8ddaea;
    padding: 15px 15px;
}
.noti_list_pass_active h4{
	margin-top: 0px;
	font-family: 'open_sanssemibold';
	font-size: 15px;
	margin-bottom: 6px;
}
.noti_list_pass_active p{
	float: left;
	width: 85%;
	margin: 0px;
}
.date_of_notification_active {
    float: right;
    font-size: 13px;
}
.notifiaction_info_list {
    float: left;
    width: 100%;
	margin-bottom: 20px;
}
.noti_list_pass {
    float: left;
    width: 100%;
    background-color: #f2f7fd;
    padding: 15px 15px;
    border-radius: 6px;
	position:relative;
}
.noti_list_pass p{
	float: left;
	width: 85%;
	margin: 0px;
}
.noti_list_pass h4{
	margin-top: 0px;
	font-family: 'open_sanssemibold';
	font-size: 15px;
	margin-bottom: 6px;
}
.date_of_notification {
    float: right;
    font-size: 13px;
}
.notif_link {
    float: right;
    box-shadow: none;
}
.notif_link:focus {
    float: right;
    box-shadow: none;
}
.stron_main_notifa {
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dedede;
}
.stron_main_notifa p{
	margin-top: 0px;
	font-family: 'open_sanssemibold';
	font-size: 15px;
	margin-bottom: 8px;
	float: left;
	color:#18b5d6;
}
.view_notifaction_full_info {
    float: left;
    width: 100%;
    margin-top: 15px;
}
.date_of_notification_sec {
    float: left;
	font-size: 13px;
	width: 100%;
	margin-bottom: 15px;
}
.notification_video {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.notification_video #video{
	float: left;
	width: 350px;
	object-fit: cover;
	object-position: center;
	padding: 10px;
	background-color: #ebebeb;
}
.stron_main_notifa {
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dedede;
}
.view_notifaction_full_info {
    float: left;
    width: 100%;
    margin-top: 15px;
}
.date_of_notification_sec {
    float: left;
    font-size: 13px;
    width: 100%;
    margin-bottom: 15px;
}
.view_notifaction_full_info p {
    float: left;
    width: 100%;
}

/*Notification page css end here*/

/*radio button css start here*/
.radio_btn_group {
    float: left;
    width: 100%;
	margin-top: 5px;
}
.radio_btn_group span:first-child{
	margin-right: 14px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
	color: #333;
	font-size: 13px;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #18b5d6;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
	width: 12px;
	height: 12px;
	background: #18b5d6;
	position: absolute;
	top: 6px;
	left: 6px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*radio button css end here*/


.save_cancel_btn {
    background-color: #18b5d6;
    color: #fff;
	width: 100px;
	font-size: 15px;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.save_cancel_btn:hover{
	background-color: #0e97b7;
	border: 1px solid #0e97b7;
	color: #fff;
	outline: none;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.save_cancel_btn:focus{
	background-color: #0e97b7;
	border: 1px solid #0e97b7;
	color: #fff;
	outline: none;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.add_topic_btn_new {
    float: right;
    width: 100%;
    text-align: right;
    border-top: 1px dashed #c5c5c6;
    padding-top: 15px;
    margin-top: 10px;
}
.add_topic_btn_new .btn:first-child{
	margin-right: 10px;
}
.margin_zero{
	margin-right:0px !important;
}
.annim_img img{
	-webkit-animation: rotation 2s infinite 
}
.view_upload_file {
    float: left;
    width: 100%;
}
.view_upload_file .custom-file-input{
	float: left;
	width: 90%;
}
.view_upload_file .show_topic{
	margin-top: 8px;
}
.video_topic_details {
    float: left;
    width: 100%;
    margin-bottom: 12px;
}
.video_set_pop_main {
    float: left;
    width: 100%;
}
.video_set_pop_main video{
	float: left;
    width: 100%;
	object-fit: cover;
	object-position: center;
}
.topic_name {
    float: left;
    width: 146px;
    margin-right: 10px;
}
.video_topic_details .topic_name label{
	font-family: 'open_sanssemibold';
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 5px;
	float: left;
	width: 100%;
}
.tutor {
    float: left;
    width: 146px;
    margin-right: 10px;
}
.tutor  label{
	font-family: 'open_sanssemibold';
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 5px;
	float: left;
	width: 100%;
}


/*keyframes rotate css start here*/

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

/*keyframes rotate css end here*/

/*add course section end here*/


/*manage user section start here*/

.addes_new_search_box {
    float: right;
    width: auto;
}
.addes_new_search_box .form-control{
	float: left;
	width: auto;
	height: 35px;
	border-radius: 3px;
	margin-right: 15px;
}
.user_added_date {
    float: left;
    width: 100%;
    font-size: 13px;
}
.cours_table_set_sec {
    float: left;
    width: 100%;
}
.cours_table_set_sec thead tr th{
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd !important;
	padding: 6px 8px;
	font-family: 'open_sanssemibold';
	font-weight: normal;
	font-size: 14px;
}
.cours_table_set_sec tbody tr td{
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd !important;
    padding: 6px 8px;
    font-family: 'open_sanslight';
    font-weight: normal;
	font-size: 13px;
}
.moel_details_new_here {
    float: left;
    width: 100%;
    margin-top: 5px;
}
.cours_table_set_sec tbody tr:nth-child(even){
	background-color:#eff2f9;
}
.cours_table_new{
	float: left;
	width: 100%;
	margin-top: 5px;
}
.topic_nam_table_width_new {
    width: 240px;
    padding-right: 20px !important;
}

/*manage user section end here*/

/*schedul page css start here*/

.custom_input_calend {
    background: none;
	cursor:pointer;
}
.calender_set {
    border-right: 0px;
}
.calender_set:focus{
	border-color:#ccc;
}
.schedul_btn_group {
    float: right;
    width: 100%;
    text-align: right;
	margin-top: 30px;
}
.schedul_btn_group .btn:first-child {
    margin-right: 10px;
}
.calender_here {
    float: left;
    width: 100%;
	background-color: #f2f7fd;
}
.calender_heading {
    float: left;
    width: 100%;
    padding: 23px 10px;
    text-align: center;
	background-color:#18b5d6;
}
.calender_heading h3{
	margin: 0px;
	font-family: 'open_sanssemibold';
	font-size: 18px;
	color: #fff;
}
.calender{
	float:left;
	width: 100%;
	padding: 0px 30px 30px;
}
.calender .month{
	padding: 20px;
	width: 100%;
	position: relative;
	float: left;
	background:none !important;
}
.calender .month h4 {
    float: none;
    width: auto;
    display: inline-block;
    margin: 0 auto;
	font-size: 15px;
	color: #333;
	font-family: 'open_sanssemibold';
}
.calender .month h5{
    float: none;
    width: auto;
    display: inline-block;
    margin: 0 auto;
	font-size: 15px;
	color: #333;
	font-family: 'open_sanssemibold';
}
.calender .month .next,.calender .month .prev{
	 position: absolute;
	top: calc(50% - 25px);
	cursor: pointer;
	padding: 5px;
	display: block;
}
.month{
	margin-bottom:0px;
}
.weeks{
	margin-bottom:0px;
}
.days{
	margin-bottom:0px;
}
.month li{
  list-style:none;
  text-align:center;
}
.weeks li{
  list-style:none;
  text-align:center;
}
.days li{
  list-style:none;
  text-align:center;
  	opacity:1 !important;
}
.calender .month .prev{
  left: 10px;
}
.calender .month .next{
  right: 10px;
}
.calender .month .next:hover,.calender .month .prev:hover{
  background-color: rgba(0,0,0,.2);
}
.calender .weeks {
    display: flex;
    float: left;
    width: 100%;
	border-top: 1px dashed #ccc;
	border-bottom: 2px solid #d0cfcf;
	margin-bottom: 15px;
}
.calender .weeks li{
	flex: 1;
	position: relative;
	animation: motion 2s;
	padding: 10px; 
	font-size: 15px;
	font-family: 'open_sanssemibold';
	color: #585858;
}
.calender .weeks li:hover{background-color: rgba(0,0,0,.2);}

.calender .days {
    display: flex;
    flex-wrap: wrap;
    background: none !important;
    float: left;
    width: 100%;

}
.calender .days li:nth-child(-n+7){
	background-color:#18b5d6;
}
.calender .days li:nth-child(8){
	background-color:#23c890;
}
.calender .days li:nth-child(9){
	background-color:#23c890;
}
.calender .days li:nth-child(10){
	background-color:#23c890;
}
.calender .days li:nth-child(11){
	background-color:#23c890;
}
.calender .days li:nth-child(12){
	background-color:#23c890;
}
.calender .days li:nth-child(13){
	background-color:#23c890;
}
.calender .days li:nth-child(14){
	background-color:#23c890;
}
.calender .days li:nth-child(15){
	background-color:#18b5d6;
}
.calender .days li:nth-child(16){
	background-color:#18b5d6;
}
.calender .days li:nth-child(17){
	background-color:#18b5d6;
}
.calender .days li:nth-child(18){
	background-color:#18b5d6;
}
.calender .days li:nth-child(19){
	background-color:#18b5d6;
}
.calender .days li:nth-child(20){
	background-color:#18b5d6;
}
.calender .days li:nth-child(21){
	background-color:#18b5d6;
}

.calender .days li:nth-child(22){
	background-color:#23c890;
}
.calender .days li:nth-child(23){
	background-color:#23c890;
}
.calender .days li:nth-child(24){
	background-color:#23c890;
}
.calender .days li:nth-child(25){
	background-color:#23c890;
}
.calender .days li:nth-child(26){
	background-color:#23c890;
}
.calender .days li:nth-child(27){
	background-color:#23c890;
}
.calender .days li:nth-child(28){
	background-color:#23c890;
}
.calender .days li:nth-child(29){
	background-color:#23c890;
}
.calender .days li:nth-child(30){
	background-color:#23c890;
}
.calender .days li:nth-child(31){
	background-color:#23c890;
}

.calender .month .prev{
	top: 18px;
	left: 30%;
}
.calender .month .next{
	top: 18px;
	right: 30%;
}
.calender .days li{
	flex-basis: calc(100% / 7);/*اقسم المساحه على سبعه اللى هى ايام الاسبوع فى كل صف*/
	padding: 5px 0;
	opacity: .7;
	font-size: 15px;
	margin-bottom: 6px;
	border: 0px;
	color:#fff !important;
}
.schedul_session_form {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.scedule_info_details {
    float: left;
    width: 100%;
}
.datetimepicker-dropdown-bottom-right .prev  span::before{
	content:"\f060";
	font-family:fontawesome;
}
.datetimepicker-dropdown-bottom-right .next  span::before{
	content:"\f061";
	font-family:fontawesome;
}
.calender .days li:nth-child(20) {
    color: #40c353;
}
.calender .days li:nth-child(22) {
	color: #40c353;
}
.set_rest_nam_pop {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.schedul_session_form_sec {
    float: left;
    width: 100%;
}
.form_set_new {
    float: left;
    width: 100%;
    margin-bottom: 18px;
}
.form_set_new label {
    font-family: 'open_sanssemibold';
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 10px;
	float: left;
	width: 130px;
}
.added_new_content {
    float: left;
    width: auto;
    font-size: 13px;
}
.attendees_table_section {
    float: left;
    width: 100%;
    padding: 35px 0;
}
.attendees_serch_form {
    float: left;
    width: 100%;
}
.moel_details_new_here_set{
	float: left;
	width: 100%;
}
.plus_table_link_new {
    float: left;
    width: 100%;
}
.plus_table_link_new a {
    color: #333;
	margin-left: 15px;
	font-size: 16px;
}
.plus_table_link_new a:hover {
    color: #18b5d6;
}
.send_request_btn {
    background-color: #18b5d6;
    color: #fff;
    font-size: 15px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.send_request_btn:hover {
    background-color: #0e97b7;
    border: 1px solid #0e97b7;
    color: #fff;
    outline: none;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.send_request_btn:focus {
    background-color: #0e97b7;
    border: 1px solid #0e97b7;
    color: #fff;
    outline: none;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.send_request_pop_btn .btn:nth-child(2){
	margin-right: 10px;
}

/*schedul page css end here*/

/*settings page css start here*/

.settings_session_form {
    float: left;
    width: 100%;
    padding: 0px 60px 40px;
    margin-top: 10px;
}

.setting_right_img {
    float: left;
    width: 100%;
    height: 300px;
	overflow:hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.setting_main_sid_img {
    float: left;
    width: 100%;
    overflow: hidden;
}
.setting_right_img:hover {
	-moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.setting_right_img::after{
	content: "";
	float: left;
	width: 100%;
	height: 100%;
	background-color: #18b5d6;
	opacity: .8;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.setting_right_img:hover::after{
	transform:translatex(-100%);
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

/*settings page css end here*/

/*my calender page css start here*/

.calender_btn {
    background-color: #18b5d6;
    color: #fff;
	width: 130px;
	font-size: 15px;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.calender_btn:hover{
	background-color: #0e97b7;
	border: 1px solid #0e97b7;
	color: #fff;
	outline: none;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.calender_btn:focus{
	background-color: #0e97b7;
	border: 1px solid #0e97b7;
	color: #fff;
	outline: none;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.calender_set_form {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}
.calend_btn_group {
    float: left;
    width: auto;
}
.calend_btn_group .btn:first-child{
	margin-right: 10px;
}
.calender_form_set {
    float: right;
    width: 50%;
}
.calender_page_calender_set {
    float: left;
    width: 100%;
}
.calender_page_calender_set img{
	width: 100%;
}
.calend_set_new {
    float: left;
    width: 100%;
}
.session_details_list {
    float: left;
    width: 100%;
}
.session_list_heading {
    float: left;
    width: 100%;
    text-align: center;
    font-family: 'open_sanssemibold';
    background-color: #13accc;
    padding: 5px;
}
.session_list_heading h4 {
    color: #fff;
    font-size: 17px;
}
.session_list_blog {
    float: left;
    width: 100%;
    background-color: #f2f7fd;
    padding: 15px 10px 10px;
}
.session_list_blog_list_here {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.session_heading_date {
    margin-top: 0px;
    font-family: 'open_sanssemibold';
    color: #13accc;
    font-size: 15px;
    padding-bottom: 7px;
    border-bottom: 1px solid #8c8a8a;
}
.session_blog_list {
    float: left;
    width: 100%;
}
.session_blog_list ul li{
	float: left;
	width: 100%;
	padding-bottom: 5px;
	color: #484444;
	font-size: 13px;
}
.session_blog_list ul li span{
	font-family: 'open_sanssemibold';
	float: left;
	width: 110px;
	color: #333;
}
.custom_input_inpu_grp {
    border: 1px solid #cccccc;
    border-left: 0px;
    padding: 6.5px 11px;
    background: none;
    box-shadow: none;
}
.topic_textarea {
    float: left;
    width: 100% !important;
    height: 115px !important;
}
.custom_input_inpu_grp:focus {
	box-shadow: none;
}
/*my calender page css end here*/
/*Login Page css start Here*/
.loginpage{
float: left;
width: 100%;
margin-bottom: 80px;
}
.inner-sect{
float: left;
width: 100%;
}
.inner-sect .bgshow{
	margin-top: 150px;
    height: 400px;
	width: 100%;
    position: relative;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../img/mid-bg.jpg);
}
.midconta{
	margin: 0 auto;
	float: none; 
	width: 100%;
	max-width: 1100px;
	position: relative;
}
.lftlog{
	background-color: #fff;
	box-shadow: 0px 0px 15px #969696;
	width: 42%;
	border-radius: 6px;
	margin-top: -85px;
	float: left;
}
.lftlog .logform{
	float: left;
	width: 100%;
}
.logform .commsect{
	float: left;
	width: 100%;
	padding: 35px 25px;
}
.lftlog_sec{
	background-color: #fff;
	box-shadow: 0px 0px 15px #969696;
	width: 52%;
	border-radius: 6px;
	margin-top: -110px;
	float: left;
}
.lftlog_sec .logform{
	float: left;
	width: 100%;
}
.lftlog_sec .commsect{
	float: left;
	width: 100%;
	padding: 35px 25px;
}
.commsect h1{
	float: left;width: 100%;
	font-family: 'open_sanssemibold'; 
	color: #19b5d6; font-size: 28px; 
text-transform: uppercase; 
margin: 0px 0px 35px 0px;
}
.commsect .form-group{
	float: left;
	margin: 0px 0px 30px 0px; 
	width: 100%;
}
.commsect .form-group .form-control{
	border-radius: 0px; 
	box-shadow: none; 
	border-bottom: 1px solid #a4a4a4 !important;
	float: left;
	width: 100%;
	border:none;
	background-color:#fff;
	color: #4a4a4a; font-size: 14px;font-family: 'open_sansregular';
	height: 46px;
	line-height: 25px;
	padding: 0px 10px 4px 56px;
	margin: 0;
	transition: none;
	font-size: 15px;
}
.commsect .form-group .form-control#usrname{
	background-image: url(../img/user-pic.png);
	background-repeat: no-repeat;
	background-position: 10px 0px;
}
.commsect .form-group .form-control#address{
	background-image: url(../img/map-marker.png);
	background-repeat: no-repeat;
	background-position: 10px 0px;
}
.commsect .form-group .form-control#password{
	background-image: url(../img/password-pic.png);
	background-repeat: no-repeat;
	background-position: 10px 0px;
}
.commsect .form-group .form-control#confirm_password{
	background-image: url(../img/password-pic.png);
	background-repeat: no-repeat;
	background-position: 10px 0px;
}
.commsect .form-group .form-control#contact_no{
	background-image: url(../img/call.png);
	background-repeat: no-repeat;
	background-position: 10px 5px;
}
.commsect .form-group .form-control#email_id{
	background-image: url(../img/massege.png);
	background-repeat: no-repeat;
	background-position: 7px 8px;
}
.logform .commsect .check_inner {
    float: left;
    width: 100%;
    padding: 0 0 0 11px;margin-bottom: 15px;
}
.logform .commsect .check_inner label {
    padding-left: 42px;color: #4a4a4a; font-size: 14px;font-family: 'open_sansregular';
    line-height: 26px;
}
.forgotpass{float: right; width: auto;}
.forgotpass a{color: #4a4a4a; font-size: 15px;font-family: 'open_sansregular';}
.forgotpass a:hover{color: #253a77;}
.lastrow p{float: left; width: 100%; margin: 0px;color: #4a4a4a; font-size: 15px;font-family: 'open_sansregular';}
.lastrow p a{color:#13a6d7; }
.lastrow p a:hover{color:#253a77;text-decoration:none;}
.lastrow .form-group{margin: 50px 0px 0px 0px;}
.website_right_details {
    float: right;
    width: 55%;
	margin-top: 30px;
}
.website_right_details_sec {
    float: right;
    width: 45%;
	margin-top: 30px;
}
.web_logo_log_sign {
    float: left;
    width: 100%;
    margin-bottom: 21px;
}
.form_set_sec select {
	padding: 6px 5px;
	background-image: url(../img/arrow_down.png);
	background-size: 17px;
	background-repeat: no-repeat;
	background-position: 97% 13px;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid #a4a4a4;
	box-shadow: none;
	height: 46px;
}
.logform .commsect .check_inner_new {
    float: left;
    width: 100%;
    padding: 0 0 0 11px;
}
.check_inner_new {
    margin: 0px !important;
	padding: 0px !important;
}
.form_set_sec input {
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid #a4a4a4;
	box-shadow: none;
	padding: 10px 0px;
	height: 46px;
}
.sign_up_select_field {
    margin-bottom: 30px;
}
.web_details {
    float: left;
    width: 100%;
	color: #fff;
}
.web_details p{
	color: #fff;
}
.web_details h4{
	margin-top: 0px;
	font-family: 'open_sansbold';
	font-size: 22px;
	line-height: 27px;
	border-bottom: 1px solid #fff;
	padding-bottom: 7px;
	margin-bottom: 17px;
}
.add_topic_form {
    float: left;
    width: 100%;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.custom-file-input{
	display: inline-block;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.custom-file-input input[type="file"]{
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	zoom: 1;  /* Fix for IE7 */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	cursor: pointer;
}
.upload_btn {
	background: no-repeat;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	color:#18b5d7;
}
.soacila_links_sign_in {
    float: left;
    width: 100%;
}
.soacila_links_sign_in span{
	float: left;
	width: 100%;
	font-size: 15px;
	margin-bottom: 8px;
}
.soacila_links_sign_in ul {
	float: left;
	width: 100%;
}
.soacila_links_sign_in li {
	float: left;
	margin-right: 25px;
}
.soacila_links_sign_in li a{
	font-size: 28px;
	color: #17b4d3;
}
.lastrow {
    float: left;
    width: 100%;
}
/* tooltip css start here*/
.tooltiptext::after {
	content: "\f0d8 ";
	font-family: fontawesome;
	color: #000;
	position: absolute;
	top: -19px;
	font-size: 22px;
	left: 0;
	right: 0;
}
.tooltip {
    position: relative;
    display: inline-block;
	opacity:1;
	z-index:11;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
	font-size: 13px;
    background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 99;
	bottom: -33px;
	left: -37px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.soacial-footer-links ul li:first-child a .tooltiptext{
	left: -42px;
}
/* tooltip css end here*/
/*Login Page css Close Here*/
/*checkbox button css*/
.check_inner [type="checkbox"]:not(:checked),
.check_inner [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0
}
.check_inner [type="checkbox"]+label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 20px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none
}
.check_inner [type="checkbox"]+label:before,
.check_inner [type="checkbox"]:not(.filled-in)+label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s
}
.check_inner [type="checkbox"]:not(.filled-in)+label:after {
    border: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
}
.check_inner [type="checkbox"]:not(:checked):disabled+label:before {
    border: none;
    background-color: rgba(0, 0, 0, 0.26)
}
.check_inner [type="checkbox"].tabbed:focus+label:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1)
}
.check_inner [type="checkbox"]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}
.check_inner [type="checkbox"]:checked:disabled+label:before {
    border-right: 2px solid rgba(0, 0, 0, 0.26);
    border-bottom: 2px solid rgba(0, 0, 0, 0.26)
}

.check_inner [type="checkbox"].filled-in+label:after {
    border-radius: 2px
}
.check_inner [type="checkbox"].filled-in+label:before,
.check_inner [type="checkbox"].filled-in+label:after {
    content: '';
    left: 0;
    position: absolute;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1
}
.check_inner [type="checkbox"].filled-in:not(:checked)+label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 20% 40%;
    transform-origin: 100% 100%
}
.check_inner [type="checkbox"].filled-in:not(:checked)+label:after {
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0px;
    z-index: 0
}
.check_inner [type="checkbox"].filled-in:checked+label:before {
    top: 2px;
    left: 2px;
    width: 10px;
    height: 14px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}
.check_inner [type="checkbox"].filled-in:checked+label:after {
    top: 0;
    width: 25px;
    height: 25px;
    z-index: 0
}
.check_inner [type="checkbox"].filled-in.tabbed:focus+label:after {
    border-radius: 2px;
    border-color: #5a5a5a;
    background-color: rgba(0, 0, 0, 0.1)
}
.check_inner [type="checkbox"].filled-in.tabbed:checked:focus+label:after {
    border-radius: 2px;
}
.check_inner [type="checkbox"].filled-in:disabled:not(:checked)+label:before {
    background-color: transparent;
    border: 2px solid transparent
}
.check_inner [type="checkbox"].filled-in:disabled:not(:checked)+label:after {
    border-color: transparent;
    background-color: #BDBDBD
}
.check_inner [type="checkbox"].filled-in:disabled:checked+label:before {
    background-color: transparent
}
.check_inner [type="checkbox"].filled-in:disabled:checked+label:after {
    background-color: #BDBDBD;
    border-color: #BDBDBD
}
.check_inner { display: inline-block; width: auto; }
.check_inner label { color: #4a4a4  !important; font-weight: normal; font-size: 14px !important; display: inline-block; line-height: 19px; margin-bottom: 0; } 
.check_inner .filled-in[type="checkbox"]:not(:checked) + label::after {   
    background-color: #fff !important;
    border: 1px solid #19b5d6 !important;
    top: 0px;
    z-index: 0;
}
.check_inner .filled-in[type="checkbox"]:checked + label::after {
    top: 0;   
    border: 1px solid #19b5d6 !important;
    background-color: #19b5d6 !important;
    z-index: 0;   
}
/*checkbox button css*/


/*popup css start here*/

.modal-header{
	float: right;
	border:0px;
	position: absolute;
	right: 0;
	z-index: 1;
}
.modal-footer{
	border:0px;
}
.model_forgot_pass_popup{
	width: 460px;
	display: flex;
}
.pop_btn_sect {
    float: left;
    width: 100%;
    margin-top: 35px;
}
.close{
	opacity:1;
}
.moel_details {
    float: left;
    width: 100%;
    text-align: center;
}
.moel_details_new {
    float: left;
    width: 100%;
}
.model_header {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}
.model_header img{
	margin:0 auto;
}
.model_header h5{
	font-family: 'open_sansbold';
	color: #19b5d6;
	font-size: 16px;
}
.model_content {
    float: left;
    width: 100%;
}
.model_content  p{
	float: left;
	width: 100%;
	font-size: 14px;
}
.modal-body {
    position: relative;
    padding: 20px 25px;
    display: inline-block;
    width: 100%;
}
.pop_form {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.modal-footer{
	text-align:center;
}
.forgot_ps_input{
	font-size: 15px;
	font-family: 'open_sansregular';
	height: 46px;
	line-height: 25px;
	padding: 0px 10px 4px 56px;
	background-image: url(../img/img2.png);
	background-repeat: no-repeat;
	border-radius: 0px;
	background-position: 10px center;
	box-shadow: none;
	border-bottom: 1px solid #a4a4a4 !important;
	border: 0px;
}
.schedule_margin_bottom{
margin-bottom:40px;	
}
.form-control:focus{
	box-shadow: none;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #333;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #333;
}
.popup_coom_btn {
	color: #fff;
	background-color: #1ab4d6;
	padding: 8px 22px;
	font-size: 17px;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s; 
}
.popup_coom_btn:hover, .popup_coom_btn:focus {
    background-color: #0e97b7;
    border: 1px solid #0e97b7;
    color: #fff;
    outline: none;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s; 
}
/*popup css end here*/
/*footer section css start here*/
.footer-section {float: left; width: 100%; padding: 35px 0 0; background-position: center; background-size: cover; background-repeat: no-repeat; } 
.footer_details {float: left; width: 100%; }
.foot_blogs {float: left; width: 100%; }
.foot-logo {float: left; width: 100%; margin-bottom: 25px; }
.foot-logo a img{width: 290px; margin: 0 auto; }
.foot_web_info {float: left; width: 100%; text-align: center; }
.foot_web_info p{color: #fff; }
.fot_blo_head {float: left; width: 100%; margin-bottom: 10px; color: #fff; }
.fot_blo_head h4{float: left; width: 100%; font-size: 21px; border-bottom: 1px solid #fff; padding-bottom: 14px; font-family: 'open_sanssemibold'; margin-top: 0px; }
.foot_web_info_sec {float: left; width: 100%; }
.cont_us_link {float: left; width: 100%; color: #fff; font-family: 'open_sanssemibold'; font-size: 15px; margin-bottom: 10px; }
.cont_us_link a:hover{color:#18b0d5; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; }
.cont_us_link a{color: #fff; text-decoration: none; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; }
.foot_web_info_sec p{color: #fff; }
.foot_web_info_sec li {float: left; width: 100%; padding-bottom: 7px; }
.foot_web_info_sec li a {color: #fff; text-decoration:none; position:relative; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; }
.foot_web_info_sec li a::after{content: ""; float: left; width: 0%; height: 1px; background-color: #fff; position: absolute; left: 0; bottom: -3px; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; }
.foot_web_info_sec li a:hover::after{width: 100%; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; }
.soacial-footer-links {float: left; width: 100%; text-align: center; padding: 25px 0; }
.soacial-footer-links li{display: contents; }
.soacial-footer-links li a{font-size: 31px; color: #fff;margin-right: 30px;margin-left: 30px;}
.foot_not_info {float: left; width: 100%; background: rgba(15, 14, 14, 0.4); padding: 20px 0; }
.foot_not_info p{color: #fff; text-align: center; margin: 0px; font-size: 14px; }
/*footer section css end here*/
/*Sameer Added Css*/
.pie_chart_blogs{
background-color: #fff;	
}
.pie_chart_bg_color{
background-color: #f2f7fd;	
}
.pie_chart_head_sec h4 {
text-transform: uppercase;
float: left;
width: 60%;
text-align: right;
}
.pie_chart_dropdown{
float: left;
margin-left: 18%;
position: relative;
}
.pie_chart_dropdown_select{
float: left;
width: 100px;
height: 30px;
padding: 3px;	
}

.pie_chart_dropdown_cart::before {
content: "";
border-top: 0.4em solid #000;
border-right: 0.4em solid transparent;
border-left: 0.4em solid transparent;
position: absolute;
right: 0;
top: 0;
}
.pie_chart_dropdown_cart{
position: absolute;
right: 8px;
top: 13px;
}
.pie_chart_dropdown_cart::before (-webkit-appearance:none) {
top: 13px;
right: -42px;	
}
.performer_section{
float:left;
width:100%;	
}
.performer_wrapp{
float:left;
width:100%;	
text-align:center;
}
.performer_heading_title{
float:left;
width:100%;
background-color:#19b5d6;	
font-family: 'open_sansbold';
font-size: 16px;
color:#fff;
text-align:center;
padding: 8px;
}
.performer_heading_body{
float:left;
width:100%;	
background-color:#f2f7fd;
}
.performer_profile_info{
width: 100%;
padding: 15px 95px;
float: left;
}
.performer_profile_img{
background-image: url(../img/image-2.png);
background-size: cover;
float: left;
background-repeat: no-repeat;
height: 75px;
background-position: center;
width: 75px;
border-radius: 50%;
border: 3px solid #fff;
box-shadow: 0px 0px 10px 3px #ccc;
}
.poor_performer_profile_img{
background-image: url(../img/image-1.png);	
}
.performer_profile_Uname{
text-transform: uppercase;	
font-family: 'open_sanssemibold';
font-size: 16px;
color:#4a4a4a;
float: left;
width: auto;
margin-left: 9px;
margin-top: 16px;
}
.performer_profile_score{
float:left;
margin-left: 9px;
font-family: 'open_sanssemibold';
font-size: 14px;
color:#4a4a4a;	
}
.carosal_bullet_bottom{
bottom: -10px !important;	
}
.carosal_bullet_bottom .active{
background-color: #8d8f8f;
width: 8px;
height: 8px;
margin: 1px;	
}
.carosal_bullet_bottom li {
background-color: #19b5d6;
border: 0px solid #fff;
width: 8px;
height: 8px;
}
.margin_top{
margin-top:35px;	
}
.pie_chart_head_radio_sec{
float:left;
width:100%;
text-align:right;	
}
/*Checkbox*/
.radio_container {
position: relative;
padding-left: 25px;
cursor: pointer;
font-size: 14px;
font-family: 'open_sanssemibold';
-webkit-user-select: none;
-moz-user-select: none;
font-weight: normal;
margin-right: 10px;
}
.radio_container input {
position: absolute;
opacity: 0;
cursor: pointer;
}
.radio_checkmark {
position: absolute;
top: 0;
left: 0;
height: 22px;
width: 22px;
background-color: #fff;
border-radius: 50%;
border: 3px solid #2196F3;
}
.radio_container:hover input ~ .radio_checkmark {
background-color: #fff;
}
.radio_container input:checked ~ .radio_checkmark {
background-color: #fff;
}
.radio_checkmark:after {
content: "";
position: absolute;
display: none;
}
.radio_container input:checked ~ .radio_checkmark:after {
display: block;
}
.radio_container .radio_checkmark:after {
top: 4px;
left: 4px;
width: 8px;
height: 8px;
border-radius: 50%;
background: #2196F3;
}
/*Add New Course*/
.add_course_bg_color{
background-color:#eceded;	
padding: 15px;
}
.add_course_padding{
padding: 0px 15px;
}
.custom_file_width{
float:left;
width:100% !important;	
}
.section_padding{
padding: 15px;	
}
.section_top_padding{
padding-top: 0px;	
}
.add_more_btn{
float:left;
width:100%;	
}
.top_border_total_course{
border-top:1px solid #c0c0c0;	
float:left;
width:100%;
margin-top: 20px;
}
.total_course_cost{
float:left;
width:100%;
padding: 20px 16px;
}
.total_cost_lable{
float:left;
width:auto;	
font-size: 14px;
font-family: 'open_sanssemibold';
font-weight: normal;
padding: 7px 0px;
padding-right: 7px;
}
.total_cost_text_area{
float:left;
width:20%;	
border-radius: 0px;
}
.dotted_bottom_border{
float:left;
width:100%;
border-bottom: 1px dashed #a6a6a6;	
}
/*Edit Course*/
.top_dotted_border{
float:left;
width:100%;
border-top: 1px dashed #a6a6a6;	
margin-top:25px;
padding-top:25px;	
}
/*manage-course-View-details-page*/
.user_manage_info{
float:left;
width:100%;	
}
.user_manage_info_title{
float:left;
width:100%;	
font-size: 14px;
font-family: 'open_sanssemibold';
margin-bottom: 15px;
}
.user_manage_info_name{
float:left;
width:100%;	
font-family: 'open_sansregular';
font-size: 12px;
}
.address_margin_top{
margin-top:25px;	
}
.courses_details_wrapper{
float:left;
width:100%;	
}
.manage_course_size thead > tr > th{
font-size:14px;	
}
.manage_course_size tbody > tr > td{
font-size:14px;	
}
.left_padding{
padding-left:0px;	
}
.right_padding{
padding-right:0px;	
}
.margin_bottom{
margin-bottom:25px;	
}
.testimonial_delete_heading{
text-align:center;	
float:left;
width:100%;
}
.testimonial_delete_img{
float: none;
display: inline-block;	
}
.testimonial_delete_heading h4{
float:left;
width:100%;	
}
.testimonial_no_border{
border:none;	
text-align: center;
}
.testimonial_delete_text{
float:left;
width:100%;
text-align:center;	
font-family: 'open_sansregular';
font-size: 14px;
}
.testimonial_delete_width_popup{
width: 450px;	
}
.testimonial_delete_pop{
padding:30px;	
}
/*manage-course-View-details-page*/
/*My Calender page*/
.fa_img_color{
color: #18b5d6;
font-size: 20px;	
}
.star_class{
color: red;
margin-left:3px;	
}
.stop_resize_textarea{
resize: none;	
}
.custom_input_calend{
color:#18b5d6;
font-size: 20px;
}
.custom_input_inpu_grp{
color:#18b5d6;
font-size: 22px;
padding: 1px 10px;	
}
.custom_input_inpu_grp:hover,.custom_input_inpu_grp:focus{
color:#18b5d6;	
}
/*My Calender page*/
/*testimonial*/
.testimonial_delete_btn{
float: right;	
position: absolute;
right: 12px;
top: 5px;
}
.testimonial_delete_btn a{
color:#fff;
font-size:20px;
}	
.user_testominail_text{
float:left;
width:100%;
margin-bottom:10px;	
}
.user_testominail_text_heading{
float:left;
width:30%;	
font-family: 'open_sanssemibold';
font-size: 14px;
}
.user_testominail_text_subtext{
float:left;
width:70%;	
font-family: 'open_sansregular';
font-size: 14px;	
}
.testominail_text_size{
font-size:12px;	
}
.testominail_margin_bottom{
margin-bottom:40px;	
}
/*testimonial*/
/*Footer Socail Link*/
.footer_social_link{
float: left;
width: 100%;
text-align: center;
margin-bottom: 10px;
}
.footer_social_link .nav.nav-pills li {
display: inline-block;
float: none;
}
.footer_social_link_list{
color:#fff;	
font-size: 25px;
padding: 5px 0px !important;
width: 50px;
text-align: center;
margin: 0px 15px;
transition:0.3s;	
}
.footer_social_link_list:hover{
background-color:#19b2d4 !important;
color:#fff;	
}
/*Footer Socail Link*/
/*Manage User Page*/
.add_new_user_pop_width{
width: 650px;	
}
.add_user_pop_btn_width{
padding: 7px 25px;
width: 120px;	
}
.ratting_show a{
color:#182037;
}
/*Manage User Page*/
/*Notification Page*/
.noti_list_pass_active h4 {
float: left;
width: 85%;	
}
.notif_link {
margin-top: -7px;
padding: 0px;
margin-right: 15px;
}	
.noti_list_pass h4{
color:#000;	
}
.noti_list_pass:hover,.noti_list_pass:active {
background-color: #8ddaea;
}
.stron_main_notifa p {
float: left;
width: 85%;
}
/*Notification Page*/
/*Manage Content*/
.content_width{
float: left;
width: auto !important;
padding: 8px 10px !important;
margin: 0px 5px !important;
}
.manage_content_logo{
float:left;
width:100%;
padding:30px;	
}
.manage_content_logo_img{
float:left;
width:100%;
background-color:#f0f0f0;	
padding: 20px;
}
.manage_content_logo_name{
float:left;
width:100%;
padding-bottom: 10px;	
}
.manage_content_logo_text{
font-family: 'open_sansbold';
font-size: 14px;	
}
.manage_content_logo_edit-delete{
float:right;
font-size: 18px;
margin-top: -3px;		
}
.manage_content_logo_edit-delete a{
padding:0px 5px;	
color:#182037;
}
.manage_content_logo_edit-delete a:hover,.manage_content_logo_edit-delete a:focus{
padding:0px 5px;	
color:#18b5d6;
}
.manage_content_group_business{
font-family: 'open_sansregular';
font-size: 14px;
float: left;
width: 100%;
margin: 10px 0px;	
}
.manage_content_other_pictures_btn{
float:left;
width:100%;	
padding: 20px 30px;
}
.manage_content_other_pictures_btn a{
background-color: #18b5d6;
color: #fff;
padding: 7px;
border-radius: 3px;
text-decoration: none;
}
.content_file_width{
float:left;
width:100%;	
}
.content_upload_img{
float: left;
width: 100%;
font-size: 50px;
padding: 25px;
}
.content_upload_section{
float:left;
height: 180px;	
font-family: 'open_sansbold';
font-size: 14px;
text-align:center;
padding-top: 50px;
}
.enter_clip_name{
float:left;
width:30%;	
}
.short_clip_btn{
float:left;
width:100%;
text-align:left;	
margin-top: 15px;
}
.testimonials_manage_content_logo{
float: left;
width: 100%;
padding: 25px 0px;	
}
.testimonials_profile_pic{
/*background-image: url(../img/image-3.png);*/
float: right;
width: 92px;
height: 92px;
background-size: cover;
background-position: center;
border-radius: 50%;
border: 2px solid #18b5d6;
}
.rating_fa_color a{
color:#fbba06;	
}
.manage_content_comment_text{
float:left;
width:100%;	
}
.testimonials_content_img_width{
float:left;
width:100%;
border-radius:50%;	
}
.content_img_upload_section{
float:left;
height: 180px;	
font-family: 'open_sansbold';
font-size: 14px;
text-align:center;
padding-top: 35px;	
}
.testimonials_img_upload_section{
float: left;
height: 200px;
font-family: 'open_sansbold';
font-size: 14px;
text-align: center;
padding-top: 35px;
border: none;	
}
.testimonials_rating_fa_icon a{
font-size: 17px;
color: #3c3c3c;
}
.testimonials_rating_fa_icon a:hover,.testimonials_rating_fa_icon a:focus{
color: #fbba06;	
}
.testimonials_textarea{
resize: none;
float: left;
width: 100%;
height: 150px !important;
}
.approach_text_area{
float:left;
width:100%;
margin-top:15px;
}
.dotted_top_border{
float:left;
width:100%;
border-top:1px dashed #a6a6a6;	
}
.faq_ans_qua{
float:left;
width:100%;	
padding: 10px 0px;
}
.fa_bottom_padding{
padding-bottom:7px;
}
.faq_questions{
float:left;
width:100%;	
}
.faq_answer{
float:left;
width:100%;	
margin-top: 5px;
}
.faq_add_mode_btn{
float:left;
width:100%;
padding:25px 0px;	
}
.faq_add_mode_btn a{
background-color: #18b5d6;
color: #fff;
padding: 7px 12px;
border-radius: 3px;
text-decoration: none;
}
.input_questions_ans{
float:left;
width:100%;	
}
.textarea_height{
height: 100px !important;	
}
/*Manage Content*/
.footer_padding{
padding: 10px 0 0 !important;	
}
.resp-accordion a{
color:#FFF;	
text-decoration:none;
}

/*********************************************************************/
